*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'header header'
    'sidebar title'
    'footer .';

}

.wrapper div{
    height: 10vh;
    border: 1px #181818 solid;
}

.title{
  grid-area: title;
}
.header{
    grid-area: header;
  }
  .sidebaar{
    grid-area: sidebar;
  }
  .footer{
    grid-area: footer;
  }

.wrapper>div:nth-child(even){
   background: #181818;
   color: beige;
}

